<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.mp.dk.cwyd">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".BedMoveTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimThemep">
            <intent-filter>
                <action android:name="cwyd" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".RoomaApplicationActivity"/>
        <activity android:name=".TimePickActivity"/>
        <activity android:name=".TsqkPickActivity"/>
        <activity android:name=".RoomDetailActivity"/>


    </application>

</manifest>
